.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    row-gap: 50px;
    margin-top: 20px;
}

.imgHotel{
    border-radius: 8px;
}

